[workspace]
channels = ["https://prefix.dev/conda-forge"]
name = "aoc2025"
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]
version = "0.1.0"

[tasks.configure]
args = [{"arg" = "day"}]
cmd = [
    "cmake",
    "-G",
    "Ninja Multi-Config",
    "-B",
    "build",
    "-DCURRENT_DAY={{day}}",
]

[tasks.build]
args = [{"arg" = "day"},{"arg" = "config", "default" = "Release"}]
cmd = ["cmake", "--build", "build", "--config", "{{ config }}"]
depends-on = [{"task" = "configure", "args" = ["{{day}}"]}]

[tasks.run]
args = [
    {"arg" = "day"},
    {"arg" = "config", "default" = "Release"},
    # Hacks to get flexible number of arguments..
    {"arg" = "arg1", "default" = ""},
    {"arg" = "arg2", "default" = ""},
    {"arg" = "arg3", "default" = ""},
    {"arg" = "arg4", "default" = ""},
    {"arg" = "arg5", "default" = ""},
    {"arg" = "arg6", "default" = ""},
    {"arg" = "arg7", "default" = ""},
    {"arg" = "arg8", "default" = ""},
    {"arg" = "arg9", "default" = ""}
]
cmd = [
    "build/bin/{{config}}/{{day}}.exe",
    "{{arg1}}",
    "{{arg2}}",
    "{{arg3}}",
    "{{arg4}}",
    "{{arg5}}",
    "{{arg6}}",
    "{{arg7}}",
    "{{arg8}}",
    "{{arg9}}"
]
depends-on = [{"task" = "build", "args" = ["{{day}}", "{{config}}"]}]

[dependencies]
cmake = "==3.31"
clang = "==21.1"
clangxx = "==21.1"
llvmdev = "==21.1"
clang-tools = "==21.1"
ninja = "==1.13"
